<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177020408981-paiakcesoucl6i5rv24je549thsvm4uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177020408981-paiakcesoucl6i5rv24je549thsvm4uu</string>
	<key>API_KEY</key>
	<string>AIzaSyDZC95iqMO8HL2ftqcTnV4VCvDps8tOpx0</string>
	<key>GCM_SENDER_ID</key>
	<string>177020408981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tejasfarera.LetsChat</string>
	<key>PROJECT_ID</key>
	<string>letschat-50601</string>
	<key>STORAGE_BUCKET</key>
	<string>letschat-50601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177020408981:ios:798764046ae332ee0db79c</string>
</dict>
</plist>